@font-face{
    font-family: "BigShoulders";
    src: url("fuentes/BigShouldersStencilText-Medium.ttf");
}
@font-face{
    font-family: "Goldman";
    src: url("fuentes/Goldman-Regular.ttf");
}
html{
    background-color: #2e528b;
}
body{
    width: 80%;
    margin: 0 auto 0 auto;
    background-color: whitesmoke;
    border: black 2px solid;
}
header{
    border-top: black 2px solid;
    border-bottom: black 2px solid;
    background-color: #335644;
    margin-bottom: 1%;
}
h1{
    font-family: BigShoulders, sans-serif;
    text-align: center;
    font-size: 500%;
    background-color: #c72030;
    color: #c3b14a;
}
header h1 a{
    text-decoration: none;
    color: #c3b14a;
    font-size: 5vw;
}
header h1 a:hover{
    text-decoration: none;
    color: black;
}
header h1 img{
    vertical-align: middle;
    height: 15%;
    width: 15%;
    margin-left: 5%;
}
div#lista{
    border-top: black 2px solid;
    border-bottom: black 2px solid;
    padding-top: 0.5%;
    padding-bottom: 0.5%;
    background-color: #335644;
    margin-bottom: 1%;
}
ul#Enlaces{
    list-style-type: none;
    text-align: center;
    padding: 0;
    border-radius: 5%;
}
ul#Enlaces li{
    display: inline-block;
    border: white 4px solid;
    border-radius: 5%;
    background-color: #333333;
    margin: 1.5% 2.5% 1.5% 2.5%;
    padding: 1% 2.25%;
    width: 7.5%;
}
ul#Enlaces li a{
    text-decoration: none;
    color: white;
    font-size: 1vw;
}
ul#Enlaces li a:hover{
    color: turquoise;
}
div.slider{
    height: 26rem;
    width: 60%;
    border: 1px solid #555;
    position: relative;
    display:inline-block;
    background-image: url(imagenes/fondo_slider.png);
    background-size: contain;
    margin-left: 1%;
    margin-bottom: 1%;
}
div.slider label {
    position: absolute;
    bottom: 3%;
    left: 6%;
    color: white;
    text-decoration: underline;
} 
div.slider label#grafica{
    margin-left: 29%;
}
div.slider label#procesador{
    margin-left: 44%;
} 
div.slider label#RAM{
    margin-left: 59%;
}
img.slide{
  max-height: 85%;
  width: 90%;
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 2%; 
  position: absolute;
  margin-bottom: 8%;
  top: 0;
  left: 0;
  opacity: 0;
  border: 5px #c3b14a solid;
}

div.slider input#boton1{
  position: absolute;
  bottom: 1em;
  left: 3em;
  margin-left: 27%;
}

div.slider input#boton2{
  position: absolute;
  bottom: 1em;
  left: 3em;
  margin-left: 42%;
}

div.slider input#boton3{
  position: absolute;
  bottom: 1em;
  left: 3em;
  margin-left: 57%;
}

div.puntos {
    padding-left: 30%;
}

input[type=radio]:nth-of-type(1):checked ~ img:nth-of-type(1) {
  opacity: 1;
  transition: opacity 3s;
}

input[type=radio]:nth-of-type(2):checked ~ img:nth-of-type(2) {
  opacity: 1;
  transition: opacity 3s;
}
input[type=radio]:nth-of-type(3):checked ~ img:nth-of-type(3) {
  opacity: 1;
  transition: opacity 3s;
}
p, dl{
    font-family: Goldman, sans-serif;
    text-align: justify;
    font-size: 0.8vw;
}
article#destacados{
    border: black 2px solid;
    float: right;
    width: 30%;
    margin-right: 1%;
    text-align: justify;
}
article#destacados img{
    border-bottom: 2px solid black;
    width: 100%;
    height: 100%;
}
h2.destacado{
    font-family: BigShoulders, sans-serif;
    text-align: center;
    font-size: 200%;
    background-color: #c72030;
    color: #c3b14a;
    margin-block-start: 0;
    margin-inline-start: 0;
    margin: 0;
    border-bottom: 2px solid black;
    font-size: 2.5vw;
}
article#preguntas{
    border: black 2px solid;
    float: left;
    width: 25%;
    margin: 0 9.5% 1% 1%;
    font-family: Goldman, sans-serif;
    font-size: 95%;
}
article#novedades{
    border: black 2px solid;
    float: left;
    width: 25%;
    margin-top: 0;
    margin-bottom: 1%;
}
footer{
    clear: both;
    border-top: 2px solid black;
    overflow: hidden;
    background-color: lightgray;
    padding: 1%;
}
footer div,article{
    width: 29.5%;
    float: left;
    border: black 2px solid;
    font-family: Goldman, sans-serif;
}
footer article ul{
    font-size: 0.8vw;
}
article#margenes{
    margin-right: 5.25%;
}
iframe{
    margin: 0;
    margin-top: 1%;
}
article#creditos{
    float: right;
    margin-right: 1%;
}