article#img{
    border: 1px solid black;
    background-image: url("../imagenes/Portatiles.png");
    background-repeat: no-repeat;
    background-size: cover;
    overflow:hidden;
    height: 400px;
}