@font-face{
    font-family: "BigShoulders";
    src: url("Fuentes/BigShouldersStencilText-Medium.ttf");
}
@font-face{
    font-family: "Goldman";
    src: url("Fuentes/Goldman-Regular.ttf");
}
html{
    background-color: #2e528b;
}
body{
    width: 85%;
    margin: 0 auto 0 auto;
    background-color: whitesmoke;
    border: black 2px solid;
}
header{
    border-top: black 2px solid;
    border-bottom: black 2px solid;
    background-color: #335644;
    margin-bottom: 1%;
}
h1{
    font-family: BigShoulders, sans-serif;
    text-align: center;
    font-size: 500%;
    background-color: #c72030;
    color: #c3b14a;
}
header h1 a{
    text-decoration: none;
    color: #c3b14a;
    font-size: 5vw;
}
header h1 a:hover{
    text-decoration: none;
    color: black;
}
header h1 img{
    vertical-align: middle;
    height: 15%;
    width: 15%;
    margin-left: 5%;
}
div#lista{
    border-top: black 2px solid;
    border-bottom: black 2px solid;
    padding-top: 0.5%;
    padding-bottom: 0.5%;
    background-color: #335644;
    margin-bottom: 1%;
}
ul#Enlaces{
    list-style-type: none;
    text-align: center;
    padding: 0;
    border-radius: 5%;
}
ul#Enlaces li{
    display: inline-block;
    border: white 4px solid;
    border-radius: 5%;
    background-color: #333333;
    margin: 1.5% 2.5% 1.5% 2.5%;
    padding: 1% 2.25%;
    width: 7.5%;
}
ul#Enlaces li a{
    text-decoration: none;
    color: white;
    font-size: 1vw;
}
ul#Enlaces li a:hover{
    color: turquoise;
}
section#contenido{
    text-align: center;
    margin-top: 0%;
    border: 1px solid black;
    margin: 1% auto ;
}
img{
    width: 30%;
    height: 400px;
}
article#descripcion h2{
    font-family: BigShoulders, sans-serif;
    text-align: center;
    font-size: 4vw;
    background-color: #c72030;
    color: #c3b14a;
    margin-block-start: 0;
    margin-inline-start: 0;
    margin: 0;
    border-bottom: 2px solid black;
}